pkgbase = joplin
	pkgver = 2.6.10
	pkgrel = 5
	url = https://joplinapp.org/
	install = joplin.install
	arch = x86_64
	arch = i686
	groups = joplin
	license = MIT
	makedepends = git
	makedepends = npm
	makedepends = yarn
	makedepends = python2
	makedepends = rsync
	makedepends = jq
	makedepends = yq
	makedepends = electron
	makedepends = libgsf
	makedepends = node-gyp>=8.4.1
	makedepends = libvips
	depends = electron
	depends = gtk3
	depends = libexif
	depends = libgsf
	depends = libjpeg-turbo
	depends = libwebp
	depends = libxss
	depends = nodejs>=17.3
	depends = nss
	depends = orc
	depends = rsync
	depends = libvips
	optdepends = libappindicator-gtk3: for tray icon
	source = joplin.desktop
	source = joplin-desktop.sh
	source = joplin.sh
	source = joplin-2.6.10.tar.gz::https://github.com/laurent22/joplin/archive/v2.6.10.tar.gz
	source = 0005-All-Fixed-issue-where-synchroniser-would-try-to-upda.patch
	source = 0007-Tools-Use-Yarn-3-to-manage-monorepo-5833.patch
	source = package.json
	source = https://raw.githubusercontent.com/laurent22/joplin/dev/.yarn/releases/yarn-3.1.1.cjs
	sha256sums = c7c5d8b0ff9edb810ed901ea21352c9830bfa286f3c18b1292deca5b2f8febd2
	sha256sums = a450284fe66d89aa463d129ce8fff3a0a1a783a64209e4227ee47449d5737be8
	sha256sums = dc1236767ee055ea1d61f10e5266a23e70f3e611b405fe713ed24ca18ee9eeb5
	sha256sums = 1994cf5a32cf72f60f0455ad8204ff1d5ebb70933ad50ade78431fa359b561c6
	sha256sums = c5281ca715cc397e4c09fc87c501d875e56e22e83fb27b9e334d9e60a38dc22f
	sha256sums = 883f0debcd07e3013e3be258ce7050ee8f912399d4ef88b0c1f8bc4429eb59bb
	sha256sums = 1ffb8b019904a17f40eacd7c93874066a23c5dddd28e6aa9bc0936ea9c614df2
	sha256sums = a7a11cf8a82d868d8cd02ec50bfba4f310964809fe6cd5709eb42e8244bad2b3

pkgname = joplin
	pkgdesc = A note taking and to-do application with synchronization capabilities - CLI App
	depends = coreutils
	depends = libsecret
	depends = nodejs
	depends = python

pkgname = joplin-desktop
	pkgdesc = A note taking and to-do application with synchronization capabilities - Desktop
	depends = electron
	depends = gtk3
	depends = libexif
	depends = libgsf
	depends = libjpeg-turbo
	depends = libwebp
	depends = libxss
	depends = nodejs
	depends = nss
	depends = orc
	optdepends = libappindicator-gtk3: for tray icon
	conflicts = joplin-desktop-electron
